*.apk
*.obb
*.abb
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
sysinfo.txt
*.stackdump
*.lock
*.mp4
**/StreamingAssets
**/Temp
**/Depthkit
**/DK_Clips
**/ProcAmp
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
[Oo]bj/
[Bb]uild
UnityLockFile
